* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}
table{
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    border: 1px solid #000000;
    min-width: 50%;
    max-width: 80%;
    overflow: hidden;
    border-spacing: 0px;
}

th {
    padding: 8px;
    background-color: #00bfff;
    border-bottom: #000000 1px solid;
}

td {
    padding: 8px;
}

tbody tr:hover {
    transition: 0.4s;
    background-color: #00f7ff;
}
header{
text-align: center;
margin-bottom: 1%;
}
.tableau{
    overflow : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 5%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
button{
    margin-top: 20px;
    padding: 10px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 button:hover{
    transition: 0.6s;
    background-color: #1100ff;
    box-shadow: #1100ff 0px 0px 10px 0px;
}
div{
    display: flex;
    flex-direction: column;
}
